<!doctype html>
<html lang="en">
  <head>
  	<title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
   
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    

    <script>
      function enableFields() {
          var fields = document.querySelectorAll('.form-group input');
          fields.forEach(function(field) {
              field.disabled = false;
          });
          document.getElementById('save-button').style.display = 'inline-block';
          document.getElementById('save-password-button').style.display = 'inline-block';
      }

      function togglePrintButton() {
            const checkboxes = document.querySelectorAll('input[name="selected_questions"]:checked');
            const printButton = document.getElementById('print-button');
            printButton.disabled = checkboxes.length === 0;
        }

        

        function toggleDeleteButton() {
            const checkboxes = document.querySelectorAll('input[name="selected_courses"]:checked');
            const deleteButton = document.getElementById('delete-button');
            deleteButton.disabled = checkboxes.length === 0;
        }

        function selectAllCourses(checked) {
            const checkboxes = document.querySelectorAll('input[name="selected_courses"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = checked;
            });
            toggleDeleteButton();
        }
        
  </script>

  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">

      <!-- Sidebar Starts Here-->
			<nav id="sidebar">
				<div class="p-4 pt-5">
          <!-- <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" /> -->
		  		<h2 class="mb-5"><a href="#">EPMS</a></h2>
	        <ul class="list-unstyled components mb-5">
            <li>
              <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
            </li>
            {% if current_user.role == 'chief_examination_officer' %}
                <li>
                  <a href="{{ url_for('main.examination_planning') }}">Examination Planning</a>
                </li>
                <li>
                  <a href="{{ url_for('main.questions_management') }}">Question Paper Management</a>
                </li>
            {% elif current_user.role == 'examiner' %}
                <li>
                  <a href="{{ url_for('question.uploads') }}">Uploads</a>
                </li>
            {% elif current_user.role == 'admin' %}
                <li>
                  <a href="{{ url_for('admin.user_management') }}">User Management</a>
	              </li>
                <li>
                  <a href="{{ url_for('admin.course_management') }}">Course Management</a>
	              </li>
                <li>
                  <a href="#">Security and Privacy</a>
	              </li>
            {% elif current_user.role == 'printing_agent' %}
                <li>
                  <a href="{{ url_for('main.printing_and_dist') }}">Printing and Distribution</a>
                </li>
            {% endif %}
            <li>
              <a href="{{ url_for('main.view_schedule') }}">Exam Schedule</a>
	          </li>
	          <li>
              <a href="{{ url_for('notifications.list_notifications') }}">Notification</a>
	          </li>
	          <li>
              <a href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            <li>
              <a href="{{ url_for('auth.logout') }}">Logout</a>
             </li>   
	        </ul>

	        <div class="footer">
	        	<p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
	        </div>

	      </div>
    	</nav>

        <!-- Navbar starts here  -->
      <!-- <div id="content" class="p-4 p-md-5"> -->

        

        <!-- Page Content Goes Here -->
      <div class="container main">

        <div class="p-1 mt-4">
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container-fluid">
              <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
              </button>
              <h3>{{ title }}</h3>
            </div>
          </nav>
        </div>

        <div class="container p-1">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }} fade show" role="alert">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
        </div>
        <!-- <h3>{{ title }}</h3>
        <hr /> -->
        {% block content %} {% endblock content %}
      </div>

    </div>

    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>

    <script>
      // JavaScript to make alerts disappear after 3 seconds
      $(document).ready(function() {
          // Hide alert after 5 seconds
          setTimeout(function() {
              $(".alert").alert('close');
          }, 2000);
      });
   </script>
  
  </body>
</html>