{% extends "base.html" %}

{% block content %}

<div class="row removable">
    {% if current_user.role == 'chief_examination_officer' %}
    <div class="col-xl-4 col-sm-6 drop-zone">
      <div class="card mb-4 draggable">
          <div class="card-body p-3">
              <div class="row">
              <div class="col-8">
                  <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Total Questions</p>
                  <div class="d-flex align-items-center my-2">
                      <span class="badge bg-success-soft text-xxs">
                        <i class="fas fa-upload"></i>
                      </span>
                  </div>
                  <h4 class="font-weight-bolder mb-0">
                    {{ total_uploaded_questions }}
                  </h4>
                  </div>
              </div>
              <div class="col-4 text-end">
                  <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                  <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
              </div>
              </div>
          </div>
      </div>
    </div>
  
    <div class="col-xl-4 col-sm-6 drop-zone">
      <div class="card mb-4 draggable">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Approved Questions</p>
            <div class="d-flex align-items-center my-2">
              <span class="badge bg-success-soft text-xxs">
                <i class="fas fa-check-circle text-success"></i>
              </span>
            </div>
            <h4 class="font-weight-bolder mb-0">
              {{ total_approved_questions }}
            </h4>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
            <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    </div>
  
    <div class="col-xl-4 col-sm-6 drop-zone">
      <div class="card mb-4 draggable">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Pending Questions</p>
            <div class="d-flex align-items-center my-2">
              <span class="badge bg-danger-soft text-xxs">
                <i class="fas fa-hourglass-half text-warning"></i>
              </span>
            </div>
            <h4 class="font-weight-bolder mb-0">
              {{ total_pending_questions }}
            </h4>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
            <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
    </div>
    {% elif current_user.role == 'examiner' %}
    <div class="col-xl-4 col-sm-6 drop-zone">
      <div class="card mb-4 draggable">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Sales</p>
            <div class="d-flex align-items-center my-2">
              <span class="badge bg-success-soft text-xxs">
                <i class="fas fa-angle-up text-success" aria-hidden="true"></i>
              </span>
              <span class="text-xs font-weight-bolder ms-1">+5,42%</span>
            </div>
            <h4 class="font-weight-bolder mb-0">
              $103,430
            </h4>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
            <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    </div>

    <div class="col-xl-4 col-sm-6 drop-zone">
        <div class="card mb-4 draggable">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Sales</p>
              <div class="d-flex align-items-center my-2">
                <span class="badge bg-success-soft text-xxs">
                  <i class="fas fa-angle-up text-success" aria-hidden="true"></i>
                </span>
                <span class="text-xs font-weight-bolder ms-1">+5,42%</span>
              </div>
              <h4 class="font-weight-bolder mb-0">
                $103,430
              </h4>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      </div>

      <div class="col-xl-4 col-sm-6 drop-zone">
        <div class="card mb-4 draggable">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Sales</p>
              <div class="d-flex align-items-center my-2">
                <span class="badge bg-success-soft text-xxs">
                  <i class="fas fa-angle-up text-success" aria-hidden="true"></i>
                </span>
                <span class="text-xs font-weight-bolder ms-1">+5,42%</span>
              </div>
              <h4 class="font-weight-bolder mb-0">
                $103,430
              </h4>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      </div>

      {% elif current_user.role == 'admin' %}
      <div class="col-xl-4 col-sm-6 drop-zone">
        <div class="card mb-4 draggable">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Total Users</p>
              <div class="d-flex align-items-center my-2">
                <span class="badge bg-success-soft text-xxs">
                  <i class="fas fa-users text-info"></i> 
                </span>
              </div>
              <h4 class="font-weight-bolder mb-0">
                {{ total_users }}
              </h4>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    
      </div>
  
      <div class="col-xl-4 col-sm-6 drop-zone">
          <div class="card mb-4 draggable">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Total Courses</p>
                <div class="d-flex align-items-center my-2">
                  <span class="badge bg-success-soft text-xxs">
                    <i class="fas fa-book text-primary"></i>
                  </span>
                </div>
                <h4 class="font-weight-bolder mb-0">
                  {{ total_courses }}
                </h4>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        </div>
  
        <div class="col-xl-4 col-sm-6 drop-zone">
          <div class="card mb-4 draggable">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">User Roles</p>
                <div class="d-flex align-items-center my-2">
                  <span class="badge bg-success-soft text-xxs">
                    <i class="fas fa-chart-pie text-primary"></i>
                  </span>
                  <p class="mb-0">
                    <small>Chief Examiners: {{ chief_examiners }}</small>
                  <br/>
                    <small>Examiners: {{ examiners }}</small>
                  <br/>
                    <small>Printing Agents: {{ printing_agents }}</small>
                  <br/>
                    <small>Administrators: {{ admins }}</small>
                  </p>
                  
                </div>
                
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        </div>

        {% elif current_user.role == 'printing_agent' %}
        <div class="col-xl-4 col-sm-6 drop-zone">
          <div class="card mb-4 draggable">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Total Questions</p>
                <div class="d-flex align-items-center my-2">
                  <span class="badge bg-success-soft text-xxs">
                    <i class="fas fa-upload"></i>
                  </span>
                </div>
                <h4 class="font-weight-bolder mb-0">
                  {{ total_uploaded_questions }}
                </h4>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        </div>
    
        <div class="col-xl-4 col-sm-6 drop-zone">
            <div class="card mb-4 draggable">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Printed Questions</p>
                  <div class="d-flex align-items-center my-2">
                    <span class="badge bg-success-soft text-xxs">
                      <i class="fas fa-print text-success"></i>
                    </span>
                  </div>
                  <h4 class="font-weight-bolder mb-0">
                    {{ printed_questions }}
                  </h4>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          </div>
    
          <div class="col-xl-4 col-sm-6 drop-zone">
            <div class="card mb-4 draggable">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize text-dark font-weight-bold">Pending Questions</p>
                  <div class="d-flex align-items-center my-2">
                    <span class="badge bg-success-soft text-xxs">
                      <i class="fas fa-clock text-warning"></i>
                    </span>
                  </div>
                  <h4 class="font-weight-bolder mb-0">
                    {{ pending_printing_questions }}
                  </h4>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-primary shadow text-center border-radius-md ms-auto">
                  <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
          </div>

    {% endif %}
  </div>
  
  
{% endblock %}


</html>
