{% extends "base.html" %}

{% block content %}
   <div class="container">
    <div class="text-right pt-1">
        <button id="delete-button" type="submit" disabled>Delete</button>
    </div>
    <form method="POST" action="{{ url_for('admin.delete_courses') }}">
        
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="selectAllCourses(this.checked)"></th>
                    <th>Course Code</th>
                    <th>Course Title</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td><input type="checkbox" name="selected_courses" value="{{ course.course_code }}" onclick="toggleDeleteButton()"></td>
                        <td>{{ course.course_code }}</td>
                        <td>{{ course.course_title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
   </div>
{% endblock %}