<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <h1>EPMS</h1>
        </div>
                            
        <form method="POST">
            <center><p class="justify-content-center">Provide the email address associated <br/> with your account to recover your password.</p></center>
            
            {{ form.hidden_tag() }}
            <div class="form-group mb-2">
                <label class="mb-2" for="email">Email:</label>
                {{ form.email(class="form-control", placeholder="Enter your email address") }}
            </div>
            <button type="submit" class="btn btn-primary">Send Reset Link</button>
           
        </form>
        <hr class="mt-5 mb-4 border-secondary-subtle">
        <div class="row justify-content-center">
            <div class="d-flex gap-4 justify-content-center">
                <a href="{{ url_for('auth.login') }}" class="link-secondary text-decoration-none">Log In</a>
            </div>
        </div>
	</div>
</body>
</html>