{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <table class="table">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Course Code</th>
                    <th>File</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>
                        <input type="checkbox" name="question_ids" value="{{ question.id }}">
                    </td>
                    <td>{{ question.course_code }}</td>
                    <td>
                        <a href="{{ url_for('question.view_file', filename=question.file_name) }}" target="_blank">View File</a>
                    </td>
                    <td>{{ question.confirm_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
