{% extends "base.html" %}

{% block content %}
<div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>File</th>
                    <th>Submission Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td>{{ question.course_code }}</td>
                    <td>
                        <a href="{{ url_for('question.view_file', filename=question.file_name) }}" target="_blank">View File</a>
                    </td>
                    <td>{{ question.uploaded_at.strftime('%Y-%m-%d') }}</td>
                    <td>{{ question.confirm_status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
