{% extends "base.html" %}

{% block content %}


<form method="POST" action="{{ url_for('question.upload_questions') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.course.label(class="form-label") }}
        {{ form.course(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.question_text.label(class="form-label") }}
        {{ form.question_text(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.question_file.label(class="form-label") }}
        {{ form.question_file(class="form-control-file", id="file-input", value="question_file") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}


