body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(209, 216, 218, 0.705);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 5px;
  color: #289cf5;
}


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 18px 50px 0px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(255, 255, 255);
    margin: 0px 10px;
    padding: 20px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 3px;
}

label {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #289cf5;
}

input {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #0f0f0f;
    width: 18rem;
    background: #e6e6e6;
    /* height: 1.8rem; */
    border: 1px solid #289cf5;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  select {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    font-size: 15px;
    padding: 5px 20px;
    margin-top: 5px;
    color: #080808;
    border: 1px solid #289cf5;
    border-radius: 8px;
  }

  p {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #289cf5;
    margin-top: 5px;
    align-self: flex-end;
  }

  button {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    width: 5rem;
    padding: 7px;
    font-size: 15px;
    color: white;
    background-color: #289cf5;
    border: 1px solid #289cf5;
    border-radius: 8px;
    margin: 5px;
  }